body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer {
    flex-grow: 0;
}

input:invalid {
    border: 2px solid red;
}

#grid-container {
    height: 640px;
    width: 640px;
    border: 2px solid black;
    display: flex;
    flex-flow: column wrap;
}

.grid-row {
    display: flex;
    flex: 1 1 0;
}

.pixel {
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    flex: 1 1 0;
}
