body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 0;
}

.content {
    flex: 1;
}

.footer {
    flex-grow: 0;
}

input:invalid {
    border: 2px solid red;
}

input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
}
